<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Filesystem</title>
    </head>
    <body>
        <div th:each="file : ${files}">
            <div th:if="${file.value.equals('file')}">
                <span th:text="${file.key}"></span>
                <button>Download</button>
            </div>
            <div th:if="!${file.value.equals('file')}">
                Folder: <span th:text="${file.key}"></span>
               <!-- <a th:href="@{/filesystem{current=${file.value}}}">Go inside</a> -->
            </div>
        </div>
        <!--<p th:text="${files}"></p> -->
    </body>
</html>