<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Filesystem</title>
    </head>
    <body>
        <div th:each="file : ${files}">
                <span th:text="${file.key}"></span>
                <span th:if="${file.value.containsKey('__file')}"> Download </span>
                <a th:if="!${file.value.containsKey('__file')}" th:href="|/fileview?current=${file.key}|">Go inside</a>
        </div>
    </body>
</html>